body {
    background-image: url("../public/background.jpg");
    background-size: cover;
    background-position: center;
    color: white;
  }
  
  .container {
    margin-top: 20px;
  }

  canvas {
    padding: 10px;
    margin: 20px 0;
    border: 4px solid rgba(0, 0, 0, 0.5);
    background-color: white;
    border-radius: 5px;
  }
  
  .nav {
    margin-bottom: 20px;
  }
  
  h1 {
    color: white;
    padding: 10px;
    margin: 20px 0;
    border: 2px solid #ffffff;
    background-color: rgba(0, 0, 0, 0.5);
    text-align: center;
  }
  
  table {
    margin: 0 auto;
    border-collapse: collapse;
  }
  
  #camera {
    margin: 20px auto;
    display: block;
  }
  
  #plant-stats {
    color: white;
    margin: 20px 0;
  }
  
  #greenness-value {
    font-size: 48px;
    font-weight: bold;
    color: #32cd32;
    background-color: #f0fff0;
    border: 2px solid #adff2f;
    padding: 10px;
    border-radius: 8px;
    text-shadow: 2px 2px 4px #888888;
    display: inline-block;
    margin: 10px;
  }
  
  #greennessHistoryChart {
    height: 100px;
    background-color: white;
    margin: auto;
    width: 50%;
  }